.menu_container {
  display: flex;
  height: 50px;
  list-style-type: none;
  box-shadow: 0px 1px lightgray;
  overflow-x: auto;
  margin: 10px 10px 0px 10px;
  align-items: center;
}
.list_category {
  color: black;
  font-family: 'Roboto';
  font-weight: 450;
  width: 500px;
  margin: 10px;
}
.chosen-button {
  color: #be3228;
  font-family: 'Roboto';
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 5px;
  width: 200px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.category-button {
  width: 200px;
  cursor: pointer;
  height: 30px;
  border: none;
  background-color: transparent;
}
.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
